{% extends 'backend/base/base.html' %}
{% load static %}

{% block title %}Large File Upload{% endblock title %}

{% block extra_css %}

<!-- datepicker css -->
<link rel="stylesheet" href="{% static 'libs/flatpickr/dist/flatpickr.min.css'%}">
{% endblock extra_css %}

{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Large File Upload</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Large File Upload</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                {% if user.is_superuser or add_permission in permissions.keys and permissions.add_permission %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Form Name</h4>
                                <p class="card-title-desc">Sending large files asynchronously</p>
                            </div>
                            {% if form.errors %}
                                <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="card-body">
                                <form class="needs-validation" id="form_1" name="form_1" novalidate method="POST" action="{% url 'backend:large-file-upload' %}" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="{{ form.large_file.id_for_label }}">Upload Large Files</label>
                                                <input class="form-control" type="file" id="large_file" name="large_file" accept=".zip,.rar,.gzip" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please enter a valid file
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div id="file_info"></div>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary" type="submit" id="upload-button">Submit</button>
                                    <button class="btn btn-warning" type="button" id="pause-button">Pause</button>
                                    <button class="btn btn-secondary" type="reset" id="reset">Reset</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}

    <!-- form validation -->
    <script>
    ! function() {
        "use strict";
        window.addEventListener("load", function() {
            var e = document.getElementsByClassName("needs-validation");
            Array.prototype.filter.call(e, function(t) {
                t.addEventListener("submit", function(e) {
                    !1 === t.checkValidity() && (e.preventDefault(), e.stopPropagation()), t.classList.add("was-validated")
                }, !1)
            })
        }, !1)
    }();

    $(function() {
        let maxSize = 10 * 1024 * 1024 * 1024;  // 10 GB max

        $('#large_file').on('change', function() {
            // Validate file size
            let file = this.files[0]

            // Get file info
            let size = (file.size / (1024 * 1024)).toFixed(2) + " MB";
            let type = file.type;

            let validFileTypes = ["application/zip", "application/x-rar-compressed", "application/x-zip-compressed", "application/gzip"];

            let fileSize = file.size;

            if (fileSize > maxSize || !validFileTypes.includes(type)) {
                alert('File size exceeds maximum limit of 10 GB or only ZIP, RAR, and GZIP types are allowed');
                $(this).val('');
                return;
            }

            $('#file_info').html("File info: " + size + ", " + type);
        });
    });

    $("#reset").click(function(){
        $('#file_info').html("");
    });
    </script>


{% endblock extra_js %}