**/venv/
django_euf_folder_structure.txt
tree-structure.txt
search_packages.py
generate_folder_structure.py
user_activity.log
.env.sample
.git
.idea
**/__pycache__/
**/assets/
**/staticfiles/
*.sqlite3
.yarnrc.yml
**/node_modules/
**/.yarn/
**/mysql_data/
**/db/
README.md
