# Folders
node_modules/
.yarn/
mysql_data/
db/
venv/
.idea/
**/migrations/
**/staticfiles/
assets/
**/__pycache__/

# Files
.yarnrc.yml
.env
*.sqlite3
*.pdf
*.txt
*.log
!requirements.txt

# Image files - Ignore all, except in the 'static' folder
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.webp
*.bmp
!static/**/*.*
