asgiref
# asgiref==3.4.1
argon2-cffi
backports.zoneinfo
# backports.zoneinfo==0.2.1
certifi
# certifi==2021.10.8
cffi
# cffi==1.15.0
charset-normalizer
# charset-normalizer==2.0.10
cryptography
# cryptography==36.0.1
defusedxml
# defusedxml==0.7.1
Django
# Django==3.2.10
django-allauth
# django-allauth==0.47.0
django-allauth-2fa
# django-allauth-2fa==0.8
django-crispy-forms==1.13.0
django-embed-video
django-elasticsearch-dsl
django-extensions
django-otp
# django-otp==1.1.3
django-werkzeug
djangorestframework
djangorestframework_simplejwt
djongo
elasticsearch-dsl
idna
# idna==3.3
mysqlclient
oauthlib
# oauthlib==3.1.1
pandas
pdfplumber
PyJWT
# PyJWT==2.3.0
PyPDF2~=2.0
pycparser
# pycparser==2.21
pymongo
python-dotenv
python3-openid
# python3-openid==3.2.0
pytz
# pytz==2021.3
qrcode
# qrcode==7.3.1
requests
# requests==2.27.1
requests-oauthlib
# requests-oauthlib==1.3.0
sqlparse
# sqlparse==0.4.2
urllib3
# urllib3==1.26.8
django-db-logger
