{% extends "partials/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}


{% block extra_css %}
    <!-- jquery.vectormap css -->
    <link href="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css'%}" rel="stylesheet"
          type="text/css" />
{% endblock extra_css %}

{% block content %}
{% include "partials/content.html" with title='Dashboard' pageview='Dashboard' %}
{% endblock content %}

{% block extra_js %}
    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>

    <!-- apexcharts init -->
    <script type="text/javascript">
        // Dashboard function for colours
        function getChartColorsArray(r) {
            var r = $(r).attr("data-colors");
            return (r = JSON.parse(r)).map(function(r) {
                r = r.replace(" ", "");
                if (-1 == r.indexOf("--"))
                    return r;
                r = getComputedStyle(document.documentElement).getPropertyValue(r);
                return r || void 0
            })
        }


        var user_devices = {{ data_json|safe }}

        // Capitalize first letter
        user_devices['devices'] = user_devices['devices'].map(function(str) {
          return str.charAt(0).toUpperCase() + str.slice(1);
        });

        var pieColors = getChartColorsArray("#pie_chart"),
        pie_chart_options = {
            chart: {
                height: 320,
                type: "pie"
            },
            series: user_devices['users'],
            labels: user_devices['devices'],
            colors: pieColors,
            legend: {
                show: !0,
                position: "bottom",
                horizontalAlign: "center",
                verticalAlign: "middle",
                floating: !1,
                fontSize: "14px",
                offsetX: 0
            },
            responsive: [{
                breakpoint: 600,
                options: {
                    chart: {
                        height: 240
                    },
                    legend: {
                        show: !1
                    }
                }
            }]
        };
        (pie_chart = new ApexCharts(document.querySelector("#pie_chart"), pie_chart_options)).render();



        var users_over_period = {{ data_users_over_period|safe }}
        var lineDatalabelColors = getChartColorsArray("#line_chart_datalabel"),
        line_chart_options = {
            chart: {
                height: 380,
                type: "line",
                zoom: {
                    enabled: !1
                },
                toolbar: {
                    show: !1
                }
            },
            colors: lineDatalabelColors,
            dataLabels: {
                enabled: !1
            },
            stroke: {
                width: [3, 3],
                curve: "straight"
            },
            series: [{
                name: "Visits",
                data: users_over_period['users']
            }],
            title: {
                text: "Your audience at a glance from " +
                    users_over_period['date'][0] + " till " +
                    users_over_period['date'][users_over_period['date'].length - 1],
                align: "left",
                style: {
                    fontWeight: "500"
                }
            },
            grid: {
                row: {
                    colors: ["transparent", "transparent"],
                    opacity: .2
                },
                borderColor: "#f1f1f1"
            },
            markers: {
                style: "inverted",
                size: 0
            },
            xaxis: {
                categories: users_over_period['date'],
                title: {
                    text: "Timeline"
                }
            },
            yaxis: {
                title: {
                    text: "Users"
                },
                min: 500,
                max: 3500,
            },
            legend: {
                position: "top",
                horizontalAlign: "right",
                floating: !0,
                offsetY: -25,
                offsetX: -5
            },
            responsive: [{
                breakpoint: 600,
                options: {
                    chart: {
                        toolbar: {
                            show: !1
                        }
                    },
                    legend: {
                        show: !1
                    }
                }
            }]
        },
        line_chart = new ApexCharts(document.querySelector("#line_chart_datalabel"), line_chart_options);
        line_chart.render();



        var new_ret_users = {{ data_new_ret_vis|safe }}
        var donutColors = getChartColorsArray("#donut_chart"),
        donut_chart_options = {
            chart: {
                height: 320,
                type: "donut"
            },
            series: new_ret_users['sessions'],
            labels: new_ret_users['user_type'],
            colors: donutColors,
            legend: {
                show: !0,
                position: "bottom",
                horizontalAlign: "center",
                verticalAlign: "middle",
                floating: !1,
                fontSize: "14px",
                offsetX: 0
            },
            responsive: [{
                breakpoint: 600,
                options: {
                    chart: {
                        height: 240
                    },
                    legend: {
                        show: !1
                    }
                }
            }]
        };
        (donut_chart = new ApexCharts(document.querySelector("#donut_chart"), donut_chart_options)).render();



        var lang_spec_new_ret_vis = {{ data_lang_spec_new_ret_vis|safe }}
        var columnColors = getChartColorsArray("#column_chart"),
        column_chart_options = {
            chart: {
                height: 350,
                type: "bar",
                toolbar: {
                    show: !1
                }
            },
            plotOptions: {
                bar: {
                    horizontal: !1,
                    columnWidth: "45%"
                }
            },
            dataLabels: {
                enabled: !1
            },
            stroke: {
                show: !0,
                width: 2,
                colors: ["transparent"]
            },
            series: [{
                name: "New Users",
                data: lang_spec_new_ret_vis['users']
            }, {
                name: "Returning Users",
                data: lang_spec_new_ret_vis['new_users']
            }],
            colors: columnColors,
            xaxis: {
                categories: lang_spec_new_ret_vis['lang']
            },
            yaxis: {
                title: {
                    text: "Visitors",
                    style: {
                        fontWeight: "500"
                    }
                }
            },
            grid: {
                borderColor: "#f1f1f1"
            },
            fill: {
                opacity: 1
            },
            tooltip: {
                y: {
                    formatter: function(e) {
                        return e
                    }
                }
            }
        };
        (chart = new ApexCharts(document.querySelector("#column_chart"), column_chart_options)).render();



        var top_acq_channels = {{ data_top_acq_channels|safe }}
        var donutColors = getChartColorsArray("#top_acq_channel_donut_chart"),
        top_acq_channel_donut_chart_options = {
            chart: {
                height: 320,
                type: "donut"
            },
            series: top_acq_channels['users'],
            labels: top_acq_channels['channel'],
            colors: donutColors,
            legend: {
                show: !0,
                position: "bottom",
                horizontalAlign: "center",
                verticalAlign: "middle",
                floating: !1,
                fontSize: "14px",
                offsetX: 0
            },
            responsive: [{
                breakpoint: 600,
                options: {
                    chart: {
                        height: 240
                    },
                    legend: {
                        show: !1
                    }
                }
            }]
        };
        (top_acq_channel_donut_chart = new ApexCharts(document.querySelector("#top_acq_channel_donut_chart"),
            top_acq_channel_donut_chart_options)).render();



        var new_ret_users_timeseries = {{ data_new_ret_users_timeseries|safe }}
        var new_ret_users_timeline_chart_Colors = getChartColorsArray("#new_ret_users_timeline_chart"),
        new_ret_users_timeline_chart_options = {
            chart: {
                height: 380,
                type: "line",
                zoom: {
                    enabled: !1
                },
                toolbar: {
                    show: !1
                }
            },
            colors: new_ret_users_timeline_chart_Colors,
            dataLabels: {
                enabled: !1
            },
            stroke: {
                width: [3, 3],
                curve: "straight"
            },
            series: [{
                name: "New Visits",
                data: new_ret_users_timeseries['users']
            }, {
                name: "Returning Visits",
                data: new_ret_users_timeseries['new_users']
            }],
            title: {
                text: "Your audience at a glance from " +
                    new_ret_users_timeseries['date'][0] + " till " +
                    new_ret_users_timeseries['date'][new_ret_users_timeseries['date'].length - 1],
                align: "left",
                style: {
                    fontWeight: "500"
                }
            },
            grid: {
                row: {
                    colors: ["transparent", "transparent"],
                    opacity: .2
                },
                borderColor: "#f1f1f1"
            },
            markers: {
                style: "inverted",
                size: 0
            },
            xaxis: {
                categories: new_ret_users_timeseries['date'],
                title: {
                    text: "Timeline"
                }
            },
            yaxis: {
                title: {
                    text: "Users"
                },
                min: 500,
                max: 3500,
            },
            legend: {
                position: "top",
                horizontalAlign: "right",
                floating: !0,
                offsetY: -25,
                offsetX: -5
            },
            responsive: [{
                breakpoint: 600,
                options: {
                    chart: {
                        toolbar: {
                            show: !1
                        }
                    },
                    legend: {
                        show: !1
                    }
                }
            }]
        },
        new_ret_users_timeline_chart = new ApexCharts(document.querySelector("#new_ret_users_timeline_chart"), new_ret_users_timeline_chart_options);
        new_ret_users_timeline_chart.render();



        var page_popularity = {{ data_page_popularity|safe }}
        var barColors = getChartColorsArray("#bar_chart"),
        options = {
            chart: {
                height: 350,
                type: "bar",
                toolbar: {
                    show: !1
                }
            },
            plotOptions: {
                bar: {
                    horizontal: !0
                }
            },
            dataLabels: {
                enabled: !1
            },
            series: [{
                data: page_popularity['pageviews']
            }],
            colors: barColors,
            grid: {
                borderColor: "#f1f1f1"
            },
            xaxis: {
                categories: page_popularity['page']
            }
        };
    (chart = new ApexCharts(document.querySelector("#bar_chart"), options)).render();
    </script>

    <!-- jquery.vectormap js-->
    <script src="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js'%}"></script>
    <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js'%}"></script>
    <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js'%}"></script>
    <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-in-mill-en.js'%}"></script>
    <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-au-mill-en.js'%}"></script>
    <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-il-chicago-mill-en.js'%}"></script>
    <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-uk-mill-en.js'%}"></script>
    <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-ca-lcc-en.js'%}"></script>

    <!-- Init js-->
    <script src="{% static 'js/pages/vector-maps.init.js'%}"></script>
{% endblock extra_js %}
