{% load static %}
{% block content %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">{{title}}</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">{{pageview}}</a></li>
                                        <li class="breadcrumb-item active">{{title}}</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Top acquisition channels</h4>
                                </div>
                                <div class="card-body">
                                    <div id="top_acq_channel_donut_chart"
                                        data-colors='["#34c38f", "#1c84ee", "#ef6767"]'
                                        class="apex-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Page popularity</h4>
                                </div>
                                <div class="card-body">
                                    <div id="bar_chart" data-colors='["#34c38f"]' class="apex-charts" dir="ltr"></div>
                                </div>
                            </div>
                            <!--end card-->
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">New vs returning users timeline</h4>
                                </div>
                                <div class="card-body">
                                    <div id="new_ret_users_timeline_chart" data-colors='["#1c84ee", "#34c38f"]' class="apex-charts"
                                        dir="ltr"></div>
                                </div>
                            </div>
                            <!--end card-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Audience</h4>
                                </div>
                                <div class="card-body">
                                    <div id="line_chart_datalabel" data-colors='["#1c84ee"]' class="apex-charts"
                                        dir="ltr"></div>
                                </div>
                            </div>
                            <!--end card-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">What device people are using?</h4>
                                </div>
                                <div class="card-body">
                                    <div id="pie_chart"
                                        data-colors='["#34c38f", "#1c84ee", "#ef6767"]'
                                        class="apex-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">New vs returning visitors</h4>
                                </div>
                                <div class="card-body">
                                    <div id="donut_chart"
                                        data-colors='["#34c38f", "#1c84ee"]'
                                        class="apex-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Language breakdown chart</h4>
                                </div>
                                <div class="card-body">
                                    <div id="column_chart" data-colors='["#34c38f", "#1c84ee", "#ef6767"]'
                                        class="apex-charts" dir="ltr"></div>
                                </div>
                            </div>
                            <!--end card-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Country breakdown</h4>
                                    <p class="card-title-desc"></p>
                                </div>
                                <div class="card-body">
                                    <div id="world-map-markers" style="height: 420px"></div>
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col-->
                    </div>
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            {% block footer %}
            {% include 'backend/base/footer.html'%}
            {% endblock footer %}
        </div>
        <!-- end main content-->
{% endblock content %}
