{% load static %}
{% load custom_filters %}
{% block left_sidebar %}
        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    {% load permission_tags %}
                    <ul class="metismenu list-unstyled" id="side-menu">
                        {% if not user.is_superuser or not user.is_staff %}
                        <li>
                            <a href="{% url 'backend:dashboard' %}">
                                <i data-feather="home"></i>
                                <span data-key="t-home">Dashboard</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for am in admin_menu %}
                            {% has_view_permission user am.menu_route as can_view %}
                            {% if can_view %}
                                <li>
                                    <a href="{% url 'backend:'|add:am.menu_route %}">
                                        <i data-feather="{{ am.menu_icon }}"></i>
                                        <span data-key="t-{{ am.menu_route }}">{{ am.menu_name|title }}</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
{% endblock left_sidebar %}