{% load static %}
{% block left_sidebar %}
        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        {% for am in admin_menu %}
                            <li>
                                <a href="{% url 'backend:'|add:am.menu_route %}">
                                    <i data-feather="{{ am.menu_icon }}"></i>
                                    <span data-key="t-{{ am.menu_route }}">{{ am.menu_name|title }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
{% endblock left_sidebar %}