{% extends 'backend/base/base.html' %}
{% load static %}
{% block title %}Users{% endblock title %}

{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Users</h4>
                        <div>
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'backend:users'%}" data-bs-toggle="tooltip" data-bs-placement="top" title="List"><i class="bx bx-list-ul"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'backend:users-grid'%}" data-bs-toggle="tooltip" data-bs-placement="top" title="Grid"><i class="bx bx-grid-alt"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Users</a></li>
                                <li class="breadcrumb-item active">Users List</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">All users list</h4>
                            <p class="card-title-desc">If you want to add some more description, you can add it here.</p>
                        </div>
                        <div class="card-body">
                            <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Last Login</th>
                                    <th>Staff</th>
                                    <th>Group</th>
                                    <th>Active</th>
                                    <th>Date Joined</th>
                                </tr>
                                </thead>

                                {% for user in all_users %}
                                    <tr>
                                        <td>{{ user.0 }}</td>
                                        <td>{{ user.1 }}</td>
                                        <td>{{ user.2 }}</td>
                                        <td>{{ user.3 }}</td>
                                        <td>{{ user.4 }}</td>
                                        <td>{{ user.5 }}</td>
                                        <td>{{ user.6|capfirst }}</td>
                                        <td>{{ user.7 }}</td>
                                        <td>{{ user.8 }}</td>
                                    </tr>
                                {% endfor %}
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


        {% block footer %}
        {% include 'backend/base/footer.html' %}
        {% endblock footer %}
    </div>
    <!-- end main content-->

{% endblock content %}

{% block extra_js %}
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<!-- Buttons -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>

<!-- Responsive -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js'%}"></script>
{% endblock extra_js %}