<!DOCTYPE html>
<html>

<head>
  <title>404</title>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
  <meta name="theme-color" content="#eb2328">
  <meta name="apple-mobile-web-app-capable" content="yes"><!-- Icons and favicons -->
  <link rel="icon" href="https://cdn.marvel.com/content/u/open-html-assets/marvel-error-pages/favicon.3657acc0.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="https://cdn.marvel.com/content/u/open-html-assets/marvel-error-pages/index.348d67f1.css">
  <script src="https://cdn.marvel.com/content/u/open-html-assets/marvel-error-pages/index.a0c9f411.js"></script>
</head>

<body class="error-status-page">
  <header class="static-header">
    <nav>
      <div class="upper-nav">
        <ol> <a id="marvel-logo" href="https://www.marvel.com"></a>
          <li class="search"> <a href="https://www.marvel.com/search"><svg width="19" height="17">
                <g fill-rule="evenodd" stroke-width="2">
                  <circle cx="6.5" cy="6.5" r="5.5" />
                  <path d="m14 14 3.536 3.536" />
                </g>
              </svg></a> </li>
        </ol>
      </div>
      <div class="lower-nav">
        <ol> <a href="https://www.marvel.com/watch">
            <li>Videos</li>
          </a> <a href="https://www.marvel.com/characters">
            <li>Characters</li>
          </a> <a href="https://www.marvel.com/comics">
            <li>Comics</li>
          </a> <a href="https://www.marvel.com/movies">
            <li>Movies</li>
          </a> <a href="https://www.marvel.com/tv-shows">
            <li>TV&nbsp;Shows</li>
          </a> <a href="https://www.marvel.com/games">
            <li>Games</li>
          </a> <a href="https://www.marvel.com/podcasts">
            <li>Podcasts</li>
          </a> <a href="https://shop.marvel.com">
            <li>Shop</li>
          </a> </ol>
      </div>
    </nav>
  </header>
  <section id="error-status" class="error-status" data-state="">
    <div class="overlay"></div>
    <div class="flex-wrapper no-pad">
      <div class="flex-col">
        <div class="error-copy">
          <h1>404 Page Not Found</h1>
          <h4 class="dynamic-msg"></h4>
          <p>Check that you typed the address correctly, go back to your previous page or try using our site search to find something specific.</p>
        </div>
      </div>
      <div class="flex-col no-pad toAnimate">
        <div class="error-image-animate"></div>
      </div>
    </div>
  </section>
  <footer class="static-footer">
    <nav class="flex-wrapper">
      <ol>
        <li> <a href="https://disneytermsofuse.com/">Terms of Use</a> </li>
        <li> <a href="https://privacy.thewaltdisneycompany.com/en">Privacy Policy</a> </li>
        <li> <a href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/your-us-privacy-rights/">Your US State Privacy Rights</a> </li>
        <li> <a href="https://privacy.thewaltdisneycompany.com/en/dnsmi/">Do Not Sell My Personal Information</a> </li>
        <li> <a href="https://privacy.thewaltdisneycompany.com/en/for-parents/childrens-online-privacy-policy">Children's Online Privacy Policy</a> </li>
        <li> <a href="https://www.marvel.com/corporate/license_tou">License Agreement</a> </li>
        <li> <a href="https://preferences-mgr.truste.com/?pid=disney01&aid=marvel01&type=marvel">Interest-Based Ads</a> </li>
        <li> <a href="https://www.marvel.com/corporate/insider_terms">Marvel Insider Terms</a> </li>
        <li> <a>&copy;<span class="current-year">2023</span> MARVEL</a> </li>
      </ol>
    </nav>
  </footer>
</body>

</html>