{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Forms{% endblock title %}

{% block extra_css %}

<!-- datepicker css -->
<link rel="stylesheet" href="{% static 'libs/flatpickr/dist/flatpickr.min.css'%}">
{% endblock extra_css %}

{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Sample Form {{ greeting }}</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Sample Form</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Form Name</h4>
                                <p class="card-title-desc">You can add more description here</p>
                            </div>
                            {% if form.errors %}
                                <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="card-body">
                                <form class="needs-validation" id="form_1" name="form_1" novalidate method="POST" action="{% url 'backend:my_form' %}" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
{#                                                <label class="form-label" for="fname">First name</label>#}
                                                <label class="form-label" for="{{ form.fname.id_for_label }}">First name</label>
                                                {{ form.fname }}
                                                {{ form.fname.errors }}
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please enter a valid first name
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="{{ form.lname.id_for_label }}">Last name</label>
                                                {{ form.lname }}
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please enter a valid last name
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="email">Email</label>
                                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ post_data.email|default:'' }}" required maxlength="50">
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please enter a valid email address
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="password">Password</label>
                                                <input type="password" class="form-control" id="password" name="password" value="" required maxlength="50">
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please enter a password
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-3">
{#                                                <label class="form-label">Gender</label>#}
                                                <div class="form-check form-check-inline mb-3">
                                                    <input class="form-check-input" type="radio" name="gender" id="male" required value="m" {% if post_data.gender == 'm' %}checked{% endif %}>
                                                    <label class="form-check-label" for="male">Male</label>
                                                </div>
                                                <div class="form-check form-check-inline mb-3">
                                                    <input class="form-check-input" type="radio" name="gender" id="female" required value="f" {% if post_data.gender == 'f' %}checked{% endif %}>
                                                    <label class="form-check-label" for="female">Female</label>
                                                </div>
                                                <div class="form-check form-check-inline mb-3">
                                                    <input class="form-check-input" type="radio" name="gender" id="other" required value="u" {% if post_data.gender == 'u' %}checked{% endif %}>
                                                    <label class="form-check-label" for="other">Unspecified</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="dob">Date of birth</label>
                                                <input type="text" class="form-control" id="dob" name="dob" value="" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="age">Age</label>
                                                <input type="text" class="form-control" id="age" name="age" value="" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="avatar">Profile image</label>
                                                <input class="form-control" type="file" id="avatar" name="avatar" accept=".jpg,.jpeg,.png" >
                                                <div class="valid-feedback"></div>
                                                <div class="invalid-feedback">
                                                    Please choose a valid image file
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div id="file_info"></div>
                                                <img id="img_preview" src="" class="img-fluid" style="width: 200px" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="descr">Description</label>
                                                <textarea id="descr" name="descr"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group mb-3 form-check">
                                                <input id="tnc" type="checkbox" class="form-check-input" name="tnc" required {% if post_data.tnc %}checked{% endif %} />
                                                <label class="form-check-label" for="term-check01">I accept the terms and conditions</label>
                                                <div class="invalid-feedback">
                                                    Please accept terms and conditions
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary" type="submit">Submit</button>
                                    <button class="btn btn-secondary" type="reset" id="reset">Reset</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
<!-- ckeditor js -->
<script src="{% static 'js/pages/ckeditor.js'%}"></script>
<script>
    ClassicEditor
		.create( document.querySelector('#descr'), {
			// toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
		} )
		.then( editor => {
			window.editor = editor;
		} )
		.catch( err => {
			console.error( err.stack );
		});
</script>
<!-- datepicker js -->
<script src="{% static 'libs/flatpickr/dist/flatpickr.min.js'%}"></script>
<script>
    flatpickr("#dob", {
        defaultDate: "today",
        maxDate: "today",
        minDate: "1940-01-01"
    });
    $("#dob").change(function() {
        var dob = new Date($("#dob").val());
        var today = new Date();
        $("#age").val(Math.floor((today - dob) / (365.25 * 24 * 60 * 60 * 1000)))
    });
</script>

<!-- form validation -->
<script>
! function() {
    "use strict";
    window.addEventListener("load", function() {
        var e = document.getElementsByClassName("needs-validation");
        Array.prototype.filter.call(e, function(t) {
            t.addEventListener("submit", function(e) {
                !1 === t.checkValidity() && (e.preventDefault(), e.stopPropagation()), t.classList.add("was-validated")
            }, !1)
        })
    }, !1)
}();

$(function() {
    var maxSize = 3 * 1024 * 1024;

    $('#avatar').on('change', function() {
        // Validate file size
        let file = this.files[0]

        // Get file info
        let size = (file.size / 1024).toFixed(2) + " KB";
        let type = file.type;
        let dimensions = "Unknown";

        let fileSize = file.size;

        if (fileSize > maxSize || !type.startsWith("image/")) {
            alert('File size exceeds maximum limit of 3 MB or only JPG, JPEG, and PNG types are allowed');
            $(this).val('');
            img_preview.src = "";
            $('#file_info').html("");
            return;
        }

        img_preview.src = URL.createObjectURL(file);

        // Extract dimensions if available
        if (type.startsWith("image/")) {
            let reader = new FileReader();
            reader.onload = function() {
                let image = new Image();
                image.onload = function() {
                    dimensions = this.width + " x " + this.height + " pixels";
                    $('#file_info').html("File info: " + size + ", " + type + ", " + dimensions);
                };
                image.src = reader.result;
            };
            reader.readAsDataURL(file);
        } else {
            $('#file_info').html("File info: " + size + ", " + type + ", " + dimensions);
        }
    });
});

$("#reset").click(function(){
    img_preview.src = "";
});
</script>
{% endblock extra_js %}